<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </label>
  <label class="logo">Snad</label>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">abot us</a></li>
    <li><a href="#">services</a></li>
    <li><a href="#">carrers</a></li>
    <li><a href="#">blog</a></li>
  </ul>
</nav>
