<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <nav class="navbar1">
        <div class="logo"><a href="#">Snad</a></div>
        <ul class="nav-links1">
          <input type="checkbox" id="btn-toggle" />
          <label class="btn-toggle1" class="hamburger-icon1">&#9776;</label>
          <div class="menu1">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">About</a></li>
            <li class="vidoes">
              <a href="#getprochanel">videos</a>
              <ul class="dropdown">
                <li><a href="#videoLink">practice #01</a></li>
                <li><a href="#videoLink">practice #01</a></li>
                <li><a href="#videoLink">practice #01</a></li>
                <li><a href="#videoLink">practice #01</a></li>
                <li><a href="#videoLink">practice #01</a></li>
              </ul>
            </li>
            <li><a href="index.html">Contact</a></li>
          </div>
        </ul>
      </nav>
    </section>
  </body>
</html>
