<section>
  <div class="container1">
    <div class="contactInfo">
      <div>
        <h2>contact us</h2>
        <h3>Get in touch today!</h3>
        <h4>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          vero.
        </h4>
        <ul class="info">
          <li>
            <span><img src="\assets\mail.png" /></span>
            <span>contact@startuper.com</span>
          </li>
          <li class="mar">
            <span><img src="\assets\call.png" /></span>
            <span>(415) 870 - 3204</span>
          </li>
        </ul>
      </div>
      <ul class="sci">
        <li>
          <a href=""><img src="\assets\1.png" /></a>
        </li>
        <li>
          <a href=""><img src="\assets\2.png" /></a>
        </li>
        <li>
          <a href=""><img src="\assets\3.png" /></a>
        </li>
        <li>
          <a href=""><img src="\assets\4.png" /></a>
        </li>
        <li>
          <a href=""><img src="\assets\5.png" /></a>
        </li>
      </ul>
    </div>
    <div class="contactForm">
      <h2>Send a Messag</h2>
      <div class="formBox">
        <div class="inputbox w50">
          <input type="text" required />
          <span>First Name</span>
        </div>
        <div class="inputbox w50">
          <input type="email" required />
          <span>Email Adderss</span>
        </div>
        <div class="inputbox w50">
          <input type="email" required />
          <span>Phone</span>
        </div>
        <div class="inputbox w50">
          <input type="text" required />
          <span>Organizatin</span>
        </div>
        <div class="inputbox w50">
          <input type="text" required />
          <span>Country</span>
        </div>
        <div class="inputbox w50">
          <input type="text" required />
          <span>Service</span>
        </div>
        <div class="inputbox w100">
          <input type="text" required />
          <span>How Can We Help You</span>
        </div>
        <div class="inputbox w100">
          <textarea required></textarea>
          <span>Whats your message?</span>
        </div>
        <div class="inputbox w100">
          <input type="submit" value="send" />
        </div>
      </div>
    </div>
  </div>
</section>
