* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3e5fbc;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #dbe8fd;
}

.container1 {
  position: relative;
  min-width: 1300px;
  min-height: 750px;
  display: flex;
  z-index: 1000;
}

.container1 .contactInfo {
  position: absolute;
  top: 40px;
  width: 450px;
  height: calc(100% - 80px);
  background-color: #3e5fbc;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.container1 .contactInfo h2 {
  color: #ffff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.container1 .contactInfo h3 {
  color: #ffff;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
}

.container1 .contactInfo h4 {
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0;
}

.container1 .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}

.container1 .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 35px 0;
  cursor: pointer;
  align-items: center;
}

.container1 .contactInfo ul.info li span:nth-child(1) {
  width: 40px;
  min-width: 40px;
}

.container1 .contactInfo ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}

.container1 .contactInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-family: 300;
}

.mar {
  margin: 20px 0px 0px 25px;
}

.container1 .contactInfo ul.sci {
  position: relative;
  display: flex;
}

.container1 .contactInfo ul.sci li {
  list-style: none;
  margin-right: 20px;
}

.container1 .contactInfo ul.sci li a {
  text-decoration: none;
}

.container1 .contactInfo ul.sci li a img {
  filter: invert(1);
}

.container1 .contactForm {
  position: absolute;
  padding: 70px;
  padding-left: 300px;
  margin-left: 200px;
  width: calc(100% - 150px);
  height: 100%;
  background-color: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.12);
}

.container1 .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

.container1 .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.container1 .contactForm .formBox .inputbox {
  position: relative;
  margin-bottom: 35px;
}

.container1 .contactForm .formBox .inputbox.w50 {
  width: 47%;
}

.container1 .contactForm .formBox .inputbox.w100 {
  width: 100%;
}

.container1 .contactForm .formBox .inputbox input,
.container1 .contactForm .formBox .inputbox textarea {
  width: 100;
  resize: none;
  padding: 5px 0px;
}
