<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="branding">
          <h2><a href="#" class="branding-logo">Smashtheshell</a></h2>
        </div>
        <label
          for="input-hamburger"
          class="hamburger"
          id="hamburger"
          (click)="close()"
        ></label>
        <input type="checkbox" id="input-hamburger" hidden />
        <ul class="menu">
          <li><a href="#" class="menu-link">Home</a></li>

          <li><a href="#" class="menu-link">Portfolio</a></li>
          <li class="has-dropdown">
            <a href="#" class="menu-link"
              >Services
              <span class="arrow"></span>
            </a>
            <ul class="submenu card">
              <li><a href="#" class="menu-link">Web Design</a></li>
              <li><a href="#" class="menu-link">Web Development</a></li>
              <li><a href="#" class="menu-link">UI/UX Design</a></li>
            </ul>
          </li>
          <li><a href="#" class="menu-link">Articles</a></li>
          <li><a href="#" class="menu-link">Contact</a></li>
          <li>
            <a href="#" class="menu-link">Get In touch</a>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>

    <script>
      const hamburger = document.querySelector(".hamburger");
      hamburger.addEventListener("click", function () {
        this.classList.toggle("close");
      });
    </script>
  </body>
</html>
